{% extends 'formulari/base.html' %}
{% block content %}
	<div class="table-responsive">
	<table class="table table-sm table-hover">
	 <thead>	
	  <tr>
           <th>Descrizione</th>
           <th>Codice</th>
		   <th>Formulari</th>
          </tr>
        </thead>
	<tbody>
	{% for array in arrays %}
	<tr>
	 <td>{{ array.mat }}</td>
	 <td>{{ array.cod }}</td>
	 <td><a href="{% url 'materiali_group_by' pk=array.pk %}"><button type="button" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-list-alt"></span> Formulari</button></a></td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
	</div>
{% endblock content %}
