{% extends 'formulari/base.html' %}
{% block extrahead %}
<script type="text/javascript">
$('#modal').on('show.bs.modal', function(event) {
    var modal = $(this)
    $.ajax({
        url: "{% url 'mat_mod' %}",
        context: document.body
    }).done(function(response) {
        modal.html(response);
    });
})
</script>
{% endblock %}
{% block content %}
	<div class="table-responsive">
	<table id="myTable" class="table table-condensed table-hover">
	 <thead>	
	  <tr>
           <th>Commerciante</th>
           <th>Codice</th>
           <th class="hidden-xs hidden-sm">Materiale</th>
           <th>Data</th>
           <th class="hidden-xs hidden-sm">Prezzo</th>
           <th>Quantita'</th>
	   <th class="hidden-xs hidden-sm">Importo</th>
	   <th class="hidden-xs hidden-sm">Autore</th>
           <th class="hidden-xs hidden-sm">Ripartizione</th>
          </tr>
        </thead>
	<tbody>
	</tbody>
	</table>
	</div>
    <p>Click <a data-toggle="modal" data-target="#modal" href="{% url 'mat_mod' %}">here</a> to show the modal</p>
    <div class="modal" id="modal">{% include 'formulari/materiali_create_form.html' %}</div>

{% endblock content %}
