{% extends 'formulari/base.html' %}
{% block extrahead %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script>
var endpoint = '{% url "ripartizioni_bilancio" pk=record.pk %}'
var defaultData = []
var labels = [];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData = data.default
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})
function setChart(){
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'asd',
                data: defaultData,
                fill: false,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
}
</script>
{% endblock %}
{% block content %}
    <div class="formulario">
	<div class="btn-group btn-group-justified">
	<div class="btn-group">
        <a class="btn btn-success" href="{% url 'ripartizioni_new'%}"><span class="glyphicon glyphicon-asterisk"></span> Nuovo </a>
	</div>
        <div class="btn-group">
        <a class="btn btn-default" href="{% url 'ripartizioni_edit' pk=record.pk %}"><span class="glyphicon glyphicon-pencil"></span> Modifica </a>
        </div>
        <div class="btn-group">
        <a class="btn btn-danger" href="#"><span class="glyphicon glyphicon-trash"></span> Cancella </a>
        </div>
        </div>
    </div>
    <div class="col-sm-6">
        <h1>{{ record.nome }}</h1>
        <p><span class="glyphicon glyphicon-send"></span> :{{ record.mail }}</p>
        <p><span class="glyphicon glyphicon-user"></span> :{{ record.riferimento }}</p>
	<p><span class="glyphicon glyphicon-earphone"></span> :{{record.tel}}</p>
	<p>{{record.note}}</p>
    </div>
    <div class='col-sm-6' url-endpoint='{% url "ripartizioni_bilancio" pk=record.pk %}'>
        <h2>Bilancio Materiali</h2>
        <div class='col-sm-12'>
                <canvas id="myChart" width="400" height="100"></canvas>
        </div>            
{% endblock %}

