<html>
<head>
<title>Riepilogo</title>
<style>
th {
    background-color: rgb(76, 127, 175);
    color: white;
}
div {
 padding: 15px;
 width: 50%;
 text-align: left;
}
table {
 border: 1px groove black;
 margin: 1px;
 padding: 1px;
}
@page {
    size: landscape;
    margin: 1cm;
}
</style>
</head>
<body>
<div>
    <h2>Riepilogo del {{data|date}} Commerciante: {{comm.nome}}</h2>
    <table>
        <thead>	
        <tr>
            <th>Commerciante</th>
            <th>Codice</th>
            <th >Materiale</th>
            <th>Data</th>
            <th >Prezzo</th>
            <th>Quantita'</th>
            <th >Importo</th>
            <th >Produttore</th>
        </tr>
        </thead>
    <tbody>
    {% for fqs in fqss %}
    <tr>
        <td>{{ fqs.comm }}</td>
        <td>{{ fqs.cod }}</td>
        <td >{{ fqs.mat }}</td>
        <td>{{ fqs.data|date:'d/N/y' }}</td>
        <td >{{ fqs.prezzo }}</td>
        <td>{{ fqs.quantita }}</td>
        <td >{{ fqs.importo }}</td>
        <td>{{ fqs.prod }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
<br/>
<br/>
</div>
</body>
</html>

